
<footer>
    <div class="container-footer">
        <footer class="footer">
            <div class="centra2">
                <div class="ul">
                    <ul>
                        <li class="li">
                            Search
                        </li class="li">
                        <li class="li">
                           <a class="linkhome" href="/home">Home</a>     
                        </li class="li">
                        <li class="li">
                            Cart
                        </li class="li">
                    </ul>
                </div>
                <div class="ul">
                    <ul>
                        <li class="li">
                            Refund privacy
                        </li class="li">
                        <li class="li">
                            Privacy Policy
                        </li class="li">
                        <li class="li">
                            Terms of service
                        </li class="li">
                    </ul>
                </div>
                 
                <div class="redes">
                    <ul>
                        <li class="li">
                            <a href="https://www.facebook.com/KittenfyCo/" title="kittenfy in facebook">
                                <i class="fab fa-facebook-f"></i>
                                Facebook
                                
                            </a>
                            
                        </li class="li">
                        <li class="li">
                            <a href="https://www.instagram.com/KittenfyCo/" title="kittenfy in instagram"> 
                                <i class="fab fa-instagram"></i>
                                Instagram
                            </a>
                            
                        </li class="li">
                    </ul>
                </div>
                <div class="ul-final-footer">
                    <ul>
                        <li class="li">
                            info@kittenfy.com 
                        </li class="li">
                        <li class="li">
                            7925 NW 12th St, FL 33126,     
                        </li class="li">
                        <li class="li">
                            United States
                        </li class="li">
                        <li class="li">
                            <i class="fab fa-paypal"></i>
                        </li class="li">
                    </ul>
                </div>
               
            </div>
        </footer>
    </div>
</footer>
</div>
