<body>
<header>
      <span class="menu-btn" onclick="openNav()">&#9776;</span>
        <div id="myNav" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <div class="searchHeader">
            <form action="/search" method="get" style="width: 100%;">
              <input type="search" placeholder="   Search Our Store" value="" id="Search">
                <span>
                  <button id="Submit" type="submit">
                    SEARCH
                   </button>
                </span>
            </form>
            </div>

                  <ul class="mobile-nav">
                      <li class="menu">
                          <a href="">FOR CATS</a>
                      </li>
                    <ul>
                      <li>
                          <a href="/collections/8">
                            Trees &amp; Shelves</a>
                      </li>                    
                      <li>
                          <a href="/collections/1">
                            Toys
                          </a>
                      </li>
                                
                      <li>
                          <a href="/collections/7">
                            Beds
                          </a>
                      </li>
                                
                      <li>
                          <a href="/collections/2">
                            Costumes
                          </a>
                      </li>
                    </ul>
    
                      <li class="menu">
                          <a href="">FOR HUMANS</a>
                            <ul>
                              
                                <li>
                                  <a href="/collections/9">
                                      Leggings
                                  </a>
                                </li>
                                
                                <!-- <li>
                                  <a href="/collections/mugs">
                                      Mugs
                                  </a>
                                </li> -->
                                
                                <li>
                                  <a href="/collections/4">
                                      Socks
                                  </a>
                                </li>
                                
                                <!-- <li>
                                  <a href="/collections/phone-cases">
                                      Phone Cases
                                  </a>
                                </li> -->
                                
                                <li>
                                  <a href="/collections/5">
                                      T-Shirts
                                  </a>
                                </li>
                                
                                <li>
                                  <a href="/collections/6">
                                      Jewelry
                                  </a>
                                </li>
                              
                            </ul>
                          </li>
                
                          <li>
                            <a href="/collections/3">
                                SALE
                            </a>
                          </li>
                
                          <li>
                            <a href="">
                                CONTACT US
                            </a>
                          </li>
                
                          <li>
                            <a href="">
                                ABOUT US
                            </a>
                          </li>
                
                        <li><a href="/search">Search</a></li>
                      
                        <li><a href="/">Home</a></li>
                      
                        <li><a href="/cart" class="tdf_cart_icon">Cart</a></li>
                      
                        <li><a href="/policies/refund-policy">Refund Policy</a></li>
                      
                        <li><a href="/policies/privacy-policy">Privacy Policy</a></li>
                      
                        <li><a href="/policies/terms-of-service">Terms of Service</a></li>
                      
                    </ul>
          </div>
        </div>
          
          <div class="logo">
            <a href="/home  ">
                <img src="/images/logo-kittenfy.png" alt="">
            </a>
          </div>
          <div class="busqueda-compra">
            <% if (typeof userName != 'undefined') { %>
                <div class="sessionName">
                  <a href="/user/profile/2">
                    Hi <%= userName %>!
                  </a>
                </div>             
            <% } %>   
            <% if (typeof userName == 'undefined') { %>
              <div class="sessionName">
                <a href="/user/login">
                  Login
                </a>
              </div>             
            <% } %>             
                <li>
                    <a href="/search" >
                          <i class="fas fa-search" style="height: 100%;"></i>
                    </a>
                </li>
                <li>
                    <a onclick="openCart()">
                          <i class="fas fa-shopping-cart" style="height: 100%;"></i>
                    </a>
                </li>
          </div>  
          <%- include('./cart.ejs') %>
</header>
<script>
  function openNav() {
    document.getElementById("myNav").style.width = "30%";
  }
  
  function closeNav() {
    document.getElementById("myNav").style.width = "0";
  }
  function openCart() {
    document.getElementById("myCart").style.display = "block";
  }
  
  </script>
</body>
