*{
    box-sizing: border-box;
  }
  
  
  /*<><><><><><VARIABLES><><><><><> */
  :root{
   --color-icons : black;
  }

  body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  .container{
      background-color: aqua;
      width: 95%;
      margin: auto;
  }
  
  .centrado{
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      background-color: lime;
  }
