*{
    box-sizing: border-box;
    text-decoration: none;
  }
  
  
  /*<><><><><><VARIABLES><><><><><> */
  :root{
    --color-icons : black;
   }
   
  
  
  
  /* ESTE A SE QUEDA? O SE VA, MEDIO INUTIL */
  
  
  .container-footer{
  width: 100%;
  /* background-color: chartreuse; */
  height: 300px;
  display: flex;
  justify-content: center;
  }

  .linkhome{
    text-decoration: none;
    color : var(--color-icons)
  }
  
  .footer{
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: cyan; */
  }
  
  .centra2{
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* background-color: darkgreen; */
  width: 100%;
  margin-top: 30px;
  }
  
  .ul{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  text-align: right;
  }
  
  .li{
  line-height : 25px;
  }
  
  ul{
  list-style: none;}
  /* redes , mini fotos */
  .redes a{
    color : var(--color-icons);
    text-decoration: none;
  }
  
  .fab fa-paypal{
    color : var(--color-icons)
  }

  @media(max-width:800px){
    .footer{
      display: inline;
    }
    
    .li{
      text-align: center;
    }

    ul{
      padding-left: 0px;
    }

    .centra2{
      flex-direction: column;
      justify-content: center;
    }
    .ul{
      display:flex;
      justify-content: center;
      padding-left: 0px;
     
    }
    .redes ul li{
      text-align: center;
    }
    .ul-final-footer{
      display: flex;
      justify-content: center;
    }
    
    }
  