/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --brand: #E66F23;
  --brand-opacity: rgba(230, 111, 35, 0.2);
  --cart-bkgd: #343535;
  --gray: #666666;
  --light-gray: #bbb9b9;
  --delete:#4284ff;
}


/*====== Basics ======*/
*{
    box-sizing: border-box;
    font-family: roboto;
}

.container{
    width:95%;
    margin:auto;
}

label{
    display: block;
    font-size: 1.2em;
}

input[type=text], textarea{
    width:100%;
    padding: 0;
    font-size: 1.2em;
    text-align: center;
}

textarea, #productName {
    text-align: left;
    padding-left: 1%;
}



.btn-containers{
    display: flex;
    justify-content: space-between;
}

.btn{
    margin-top: 3%;
    width: 25%;
    background-color: var(--brand);
    padding: 2%;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    border: 3px;
    border-radius: 10px;
    display: block;
}

.delete{
    margin-top: 3%;
    width: 25%;
    display: block;
    background-color: var(--delete);
}

/* 
.delete-btn{
    background-color: var(--delete);
    width:100%;
    height: 100%;
    color: white;
    font-weight: 600;
    font-size: 1.2em;
    border: 3px;
    border-radius: 10px;
}

a{  
    text-decoration: none;
    color: var(--brand);
    font-size: 1.2em;
} */

.media-box{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.main-img{
    width:49%;
    text-align: center;
}

.main-img, .second-img{
    border: 1px solid var(--brand);
    border-radius: 10px;
    background-color: var(--brand-opacity);
}
.second-images{
    display:none;
}

.second-img{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.second-img img{
    width:23%;
    margin: 1%;
}

select{
    width: 30%;
    padding: 1%;
    font-size: 1.2em;
    color: var(--brand)
}

.columns{
    display:flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.price, .discount, .cost, .stock{
    width:15.8%;
    text-align: center;
}

.sku{
    width:31.6%;
    /* border: 1px solid rebeccapurple; */
    text-align: center;
}

input[type=file]{
    display: none;
 }

.file-btn-container{
     width:30%;
     display: flex;
     align-items: center;
     margin-top: 2%;
 }
.file-btn{
     background-color: var(--brand);
     color:white;
     width:100%;
     text-align: center;
     background-color: var(--brand);
     padding: 5%;
     font-weight: 600;
     font-size: 1.2em;
     border: 3px;
     border-radius: 10px;    
 }


/* Tablet media query */
@media(max-width: 1050px ){
   
    select{
        width: 60%;
    }    
    .product-data-container{
        width:100%;
        overflow-x: scroll;
    }
    .columns{
        min-width: 900px; 
    }
}


/* Cellphone media query */
@media(max-width: 500px ){

    select{
        width: 100%;
    }
}