*{
    box-sizing: border-box;
}

.data{
   margin: 20px 0;
   font-size: large;
   display: flex;
   justify-content: end;
   /* width: 50%; */
    /* align-items: center;
    justify-content: center;
    flex-direction: column; */
}

.data-box{
    display: flex;
    justify-content: space-evenly;
}

.image-box{
   justify-content:start;
   margin: 55px 0;
   margin-left: 45px;
   width: 35%;
}

.text-box{
    width: 35%;
    margin: 60px 0;
    margin-right: 25px;
}

.image{
width: 100%;
}




@media (max-width:500px){
data{
    display: flex;
    align-items: flex-start;
    padding-left: 25%;
}
.image-box{
    display: contents;
    padding: 0;
    width: 55%;
}

.image{
    width: 100%;
    
}
}