<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- UTILIZE EL STYLESHEET ORIGINAL PORQUE 
    ES EL QUE VA A APLICAR CUANDO SE INCULYA -->
    <link rel="stylesheet" href="/grupo_3_proyecto/myApp/public/stylesheets/style.css">
    <!-- link para los logos -->
    <script src="https://kit.fontawesome.com/eaaaf4a97d.js" crossorigin="anonymous"></script>
</head>
<body>
</body>
<footer>
    <div class="container-footer">
        <footer class="footer">
            <div class="centrado">
                <div class="ul">
                    <ul>
                        <li>
                            Search
                        </li>
                        <li>
                            Home    
                        </li>
                        <li>
                            Cart
                        </li>
                    </ul>
                </div>
                <div class="ul">
                    <ul>
                        <li>
                            Refund privacy
                        </li>
                        <li>
                            Privacy Policy
                        </li>
                        <li>
                            Terms of service
                        </li>
                    </ul>
                </div>
                <!-- TERMINAR DE AGREGAR TODO LO QUE FALTA DE LAS FOTOS
                DESPUES EL RESTO ESTA CASI HECO , COMPROBAR QUE SE PUEDA
                INCLUIR EN ARCHIVOS Y CONTINUAR CON EL DETALLE -->
                <div class="redes">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/KittenfyCo/" title="kittenfy in facebook">
                                <i class="fab fa-facebook-f"></i>
                                Facebook
                                
                            </a>
                            
                        </li>
                        <li>
                            <a href="https://www.instagram.com/KittenfyCo/" title="kittenfy in instagram"> 
                                <i class="fab fa-instagram"></i>
                                Instagram
                            </a>
                            
                        </li>
                    </ul>
                </div>
                <div class="ul">
                    <ul>
                        <li>
                            info@kittenfy.com 
                        </li>
                        <li>
                            7925 NW 12th St, FL 33126,     
                        </li>
                        <li>
                            United States
                        </li>
                        <li>
                            <i class="fab fa-paypal"></i>
                        </li>
                    </ul>
                </div>
               
            </div>
        </footer>
    </div>
</footer>
</html>