<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); -%>
<body>
    <%- include('./partials/header.ejs') %>
    
    <div class="btn-container">
        <a href="/admin/product-create" class="btn">
            <button class="buttonAdmin">CREATE NEW PRODUCT</button>
        </a>
        <a href="/admin/product-edit" class="btn">
            <button class="buttonAdmin">EDIT PRODUCT</button>
        </a>
    </div>
</body>