<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Product Edit Form</title>
</head>
<body>
    <div class="btn-container">
        <a href="/admin/product-create" class="btn">
            <button>CREATE NEW PRODUCT</button>
        </a>
        <a href="/admin/product-edit" class="btn">
            <button>EDIT PRODUCT</button>
        </a>
    </div>
</body>