<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="centrado">
            <div class="producto-box">
                <div class="foto-box">
                    foto
                </div>
                <div class="precio-box">
                    precio-box
                </div>

            </div>
        </div>
    </div>
</body>
</html>