<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/detalle.css">
    
     <!-- link para los logos -->
     <script src="https://kit.fontawesome.com/eaaaf4a97d.js" crossorigin="anonymous"></script>
</head>
<!-- Hacerlo Responsive -->


<body>
    <main class="main"> 
        <div class="container">

        <div class="centrado">
            <div class="producto-box">
                <div class="foto-box">
                    <!-- adaptar la imagen con una mas correcta -->
                    <div class="foto-box-img-box">
                    <img src="/images/Tree7b_480x480.jpg" alt="producto gatitos">
                    </div>
                    <div class="other-img-box">
                        <div class="other-img">
                            <img src="/images/tree7a_480x480 (1).jpg" alt="">
                        </div>
                        <div class="other-img">
                            <img src="/images/product-image-1241434169_540x.jpg" alt="">
                        </div>
                        <div class="other-img">
                            <img src="/images/product-image-1241434168_540x.jpg" alt="">
                        </div>
                        <div class="other-img">
                            <img src="/images/product-image-1241434166_300x.jpg" alt="">
                        </div>
                        <div class="other-img">
                            <img src="/images/product-image-1241434165_540x.jpg" alt="">
                        </div>
                        <div class="other-img">
                            <img src="/images/product-image-1241434164_540x.jpg" alt="">
                        </div>
                        
                    </div>
                </div>
                    <div class="product-box">
                    <div class="product-box-box">
                        <h1 class="product-title">
                            Nombre Del producto
                        </h1>
                        <div class="padding-top">            
                            <!-- aca va todo lo de la columna de precio -->
                            <div class="precio-box">
                                <div class="precio-total">23$</div>
                                <div class="precio-final">14$</div>
                            </div>
                            <form action="" class="carrito-hud">
                                <div class="carrito-box-amount">
                                    <label for="">Quantity</label>
                                </div>
                                
                                <div class="button-add-less">
                                    <button type="plus"><span>+</span></button>
                                    <input type="text" id="Quantity" class="numberofproducts">
                                    <button type="minus"><span>-</span></button>
                                </div>

                                <div class="formas-productos">
                                    <div class="forma-producto">
                                        
                                        <h4 class="titulo-forma">Color</h4>
                                        <div class="forma-box">
                                            <div class="forma">
                                                <a href="">Azul</a>
                                            </div>
                                            <div class="forma">
                                                <a href="">Gris</a>
                                            </div>
                                            <div class="forma">
                                                <a href="">Naranja</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="carrito-box-buttons">
                                    <div class="carrito-box-add">
                                    <button class="button-add">ADD TO CART</button>
                                    </div>
                                    <div class="carrito-box-buy">
                                    <button class="button-buy">BUY PRODUCT</button>
                                    </div>
                                </div>    
                            </form>

                            <!-- FORMAS DE PAGO -->
                            <div class="formas-de-pago">
                                <h3 class="formas-de-pago-title">Secure checkout with</h3>
                                <div class="formas-de-pago-foto-box">
                                <div class="foto-formas-de-pago">
                                    <img class="foto-formas-de-pago-img" src="https://trust.conversionbear.com/../static/badges/americanexpress_1_color_card.svg" alt="">
                                </div>
                                <div class="foto-formas-de-pago">
                                    <img class="foto-formas-de-pago-img" src="https://trust.conversionbear.com/../static/badges/visa_1_color_card.svg" alt="">
                                </div>
                                <div class="foto-formas-de-pago">
                                    <img class="foto-formas-de-pago-img" src="https://trust.conversionbear.com/../static/badges/mastercard_color_card.svg" alt="">
                                </div>
                                <div class="foto-formas-de-pago">
                                    <img class="foto-formas-de-pago-img" src="https://trust.conversionbear.com/../static/badges/paypal_1_color_card.svg" alt="">
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
                    <div class="product-description">
                        <div>
                            <span class="descripcion-texto">Our London Cat Tree is everything your cat needs. Its 5 levels will give your kitty a lot of room to have fun. Its perch will be your kitties favourite spot to have a nap, guaranteed! Get it today for quick delivery.</span>
                        </div>
                        <div>
                            <span class="descripcion-texto"><strong> PLAYFUL CAT MANSION</strong>: The London Cat Tree is made like a castle which supports a wide space to have a rest. And also, the edge of each level is wide enough to let cats climb up and down.</span>
                            <br>
                        </div>
                        <div>
                            <span class="descripcion-texto"><strong> AND STABLE</strong>: Super solid construction, well balanced design, strong base, cats can easily and safely leap on or off this cat tree. It also comes with a wall anchor strap to attach it to the wall for extra stability when you have multiple cats using it.</span>
                        </div>
                        <div>
                            <span class="descripcion-texto"><strong>WOOD COVERING</strong>: The cat tower is composed of good quality wood and plush material, which is very soft and comfortable, your furry family members will love the plush touch and enjoy exploring and sniffing around its new home，no scratching your furniture anymore.</span>
                            <br>
                        </div>
                    
                        <div>
                            <span class="descripcion-texto"><strong>TO ASSEMBLE AND NICE LOOKING</strong>: Its attractive modern look will compliment any room in your house like a piece of nice pet furniture rather than a jungle gym. All the hardware and tools are included.</span>
                            <br>
                        </div>
                    
                        <div>
                            <span><img src="/images/tree7a_480x480 (1).jpg" alt="" class="foto-description"></span>
                            <br>
                        </div>
                        <div>
                            <span >Specifications:</span>
                            <ul class="description-specifications">
                                <li>
                                    Color: Wood and white combination.
                                </li>
                                <li>
                                    Height: 45in / 115cm.
                                </li> 
                                <li>
                                    5 Levels.
                                </li>
                                <li>
                                    Perch included.
                                </li>
                                <li>
                                    Materials: wood, high quality plush,  sisal rope, paper tubes.
                                </li>
                            </ul>
                            <br>
                        </div>
                        <div>
                            <span><img src="/images/Tree7b_480x480.jpg" alt="" class="foto-description"></span>
                            <br>
                        </div>
                        <div>
                            <p><span><strong>Our Costumers say...</strong></span></p>
                            <br>
                            <span><p>
                                "Really fast shipping! Easy to assemble and my cat loves it! " - Fiona V.
                            </p></span>
                            <br>
                            <span> "My cat loved it! Great product" - Oscar U.<p>
                                
                            </p></span>
                            <br>
                            <span>LIMITED TIME ONLY. Not sold in stores.<p>

                            </p></span>
                            <br>
                            <span>Secure checkout via: Mastercard, Visa & PayPal.<p>

                            </p></span>
                            <br>
                            <span>EXPRESS SHIPPING: 5 to 10 business days delivery.<p>

                            </p></span>
                            <span>FREE STANDARD SHIPPING AVAILABLE! Note: due to very high demand, please allow 2-4 weeks for delivery.<p>

                            </p></span>
                        </div>
                        <div class="social-media">
                            <a class="share-fb" href="https://www.facebook.com/sharer.php?u=https://kittenfy.com/products/london-cat-tree">
                                <span class="icon">
                                    <i class="fab fa-facebook-f"></i>
                                </span>
                                <span class="share">Share</span>

                            </a>
                            <a class="share-fb" href="https://twitter.com/intent/tweet?text=London%20Cat%20Tree&url=https%3A%2F%2Fkittenfy.com%2Fproducts%2Flondon-cat-tree&original_referer=https%3A%2F%2Fkittenfy.com%2Fproducts%2Flondon-cat-tree%3F_pos%3D1%26_sid%3D201822142%26_ss%3Dr">
                                <span class="icon">
                                    <i class="fab fa-twitter"></i></i>
                                </span>
                                <span class="share">Tweet</span>

                            </a>
                            <a class="share-fb" href="https://ar.pinterest.com/pin/create/button/?url=https://kittenfy.com/products/london-cat-tree&media=//cdn.shopify.com/s/files/1/0250/7217/3141/products/product-image-1241434167_1024x1024.jpg?v=1584467398&description=London%20Cat%20Tree">
                                <span class="icon">
                                    <i class="fab fa-pinterest"></i>
                                </span>
                                <span class="share">Pin It</span>

                            </a>
                        </div>
                    

                    </div>
                </div>
            </div>
            <div class="product-recomendations">
                <div>
                    <div class="section-header">
                        <h2>You may also like...</h2>
                        <hr class="hr-small">
                    </div>
                    <!-- aca comienza recomendados -->
                    <div class="products-recomended">
                       
                        <div class="product-recomended-vip">   
                            <div class="wraper">
                                <div class="image-wraper">
                                    <img class="image-wraper-img" src="/images/img-sony-blueray.jpg" alt="">
                                </div>
                                <div class="Info-box-product-recomended">
                                    <a href="" class="">
                                        <span class="product-recomended-title">Nombre Del Producto Recomendado</span>
                                        <span class="price-wrap">
                                            <span>-</span>
                                            <span class="product-recomended-price">
                                                <span>$15.65</span>
                                            </span>
                                            <span class="product-recomended-compare-price">
                                                <span>$25.56</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-recomended-vip">   
                            <div class="wraper">
                                <div class="image-wraper">
                                    <img class="image-wraper-img" src="/images/img-sony-blueray.jpg" alt="">
                                </div>
                                <div class="Info-box-product-recomended">
                                    <a href="" class="">
                                        <span class="product-recomended-title">Nombre Del Producto Recomendado</span>
                                        <span class="price-wrap">
                                            <span>-</span>
                                            <span class="product-recomended-price">
                                                <span>$15.65</span>
                                            </span>
                                            <span class="product-recomended-compare-price">
                                                <span>$25.56</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-recomended-vip">   
                            <div class="wraper">
                                <div class="image-wraper">
                                    <img class="image-wraper-img" src="/images/img-sony-blueray.jpg" alt="">
                                </div>
                                <div class="Info-box-product-recomended">
                                    <a href="" class="">
                                        <span class="product-recomended-title">Nombre Del Producto Recomendado</span>
                                        <span class="price-wrap">
                                            <span>-</span>
                                            <span class="product-recomended-price">
                                                <span>$15.65</span>
                                            </span>
                                            <span class="product-recomended-compare-price">
                                                <span>$25.56</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-recomended-vip">   
                            <div class="wraper">
                                <div class="image-wraper">
                                    <img class="image-wraper-img" src="/images/img-sony-blueray.jpg" alt="">
                                </div>
                                <div class="Info-box-product-recomended">
                                    <a href="" class="">
                                        <span class="product-recomended-title">Nombre Del Producto Recomendado</span>
                                        <span class="price-wrap">
                                            <span>-</span>
                                            <span class="product-recomended-price">
                                                <span>$15.65</span>
                                            </span>
                                            <span class="product-recomended-compare-price">
                                                <span>$25.56</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
        <hr class="separador-footer">
    <%- include('./partials/footer.html');-%>
</body>
</main>


</html>