<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1><%= saludo %></h1>
    <strong><p>Welcome to <%= title %>!!!</p></strong>

    <p>Rutas:</p>
    <br>
    <section>
      
      <button>
        <a href="/home">Home</a>
      </button>
      <br>
      <button>
        <a href="/detalle">Detalle</a>
      </button>
      <br>
      <button>
        <a href="/register">Register</a>
      </button>
      <br>
      <button>
        <a href="/login">Login</a>
      </button>
      <br>
      <button>
        <a href="/product-edit">Product-edit</a>
      </button>
      
    </section>
  </body>
</html>
