<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <h1><%= saludo %></h1>
    <strong><p>Welcome to <%= title %>!!!</p></strong>

    <p>Rutas:</p>
    <br>
    <section>
      
      <button>
        <a href="/home">Home</a>
      </button>
      <br>
      <button>
        <a href="/detalle/1">Detalle</a>
      </button>
      <br>
      <button>
        <a href="/user/register">Register</a>
      </button>
      <br>
      <button>
        <a href="/user/login">Login</a>
      </button>
      <br>
      <button>
        <a href="/admin">Admin</a>
      </button>
      
    </section>
  </body>
</html>
