<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <!-- Aca va el header -->
    <h1>Login</h1>
    <div class="container">       
        <form action="">
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder=" e.g. john-simpson@gmail.com">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="********">
        </p>
        <p>
            <input type="checkbox" id="RememberMe" name="RememberMe">
            <label for="RememberMe" class="rememberMe" >Remember Me</label>
        </p>
        <button type="submit">Login</button>
        </form>

        <div class="register">
            Click here to <a href="">Register</a>
        </div>       

    </div>
</body>
</html>