<!DOCTYPE html>
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <!-- Admin elije producto a modificar -->
    <div class="choose-container">
        <h2 class="products-title">Choose product to edit:</h2>
        <form class="select-container" action="/admin/product-edit-id" method="GET">            
            <select class="desplegable" name="id">
            <% productsdb.forEach(product => { %>
                <option value="<%- product.id %>"><%- product.name %></option>         
                <% }) %>
            </select>
            <button type="submit" class="buttonAdmin">EDIT</button>
        </form>
    </div>
</body>