<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>

    <!-- Aca va el header -->
    <h1>Registration Form</h1>
    <div class="container">       
        <form action="">
        <p>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder=" e.g. John Simpson">
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder=" e.g. john-simpson@gmail.com">
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="********">
        </p>
        <p>
            <label for="passwordConfirmation">Confirm your Password:</label>
            <input type="password" id="passwordConfirmation" name="passwordConfirmation" placeholder="********">
        </p>
        <p>
            <input type="checkbox" id="RememberMe" name="RememberMe">
            <label for="RememberMe" class="rememberMe" >Remember Me</label>
        </p>
        <button type="submit">REGISTER</button>
        </form>

        <div class="login">
            <a href="">Log in</a>
        </div>       

    </div>
</body>
</html>