<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/product-edit-form-style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Product Edit Form</title>
</head>
<body>
    <!-- Aca va el header -->
    <div class="container">  
        <h2 class="ProductName">Product Name</h2>
        <a href="">
            <i class="fas fa-eye"></i>  
            Client View
        </a>
           
        <form action="">
        <p>
            <label for="productName"> 
                <h3>Product Name:</h3></label>
            <input type="text" id="productName" name="productName" >
        </p>
        <p>
            <label for="productDescription">
                <h3>Description:</h3>
            </label>
            <textarea name="productDescription" id="productDescription"  rows="10"></textarea>
        </p>
        <p>
            <label for="">
                <h3>Media:</h3>
            </label>
            <div class="media-box">
                <div class="main-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/GERALD_1024x1024.png?v=1578330887" alt="" class="">
                </div>
                <div class="second-images">
                    <div class="second-img">
                        <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/Bill_1024x1024.png?v=1588428074" alt="" class="">
                    </div>
                    <div class="second-img">
                        <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/Ronald_1024x1024.png?v=1588428074" alt="" class="">
                    </div>
                    <div class="second-img">
                        <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/GEORGE_1024x1024.png?v=1578365352" alt="" class="">
                    </div>
                    <div class="file-btn-container">
                        <label class="file-btn">
                            <input type="file">
                            UPLOAD
                        </label>
                    </div>
                    
                            
                </div>               
                
            </div>
        </p>
        <h3>Collection:</h3>
        <select name="collection" id=""  multiple size="4">
            <option value="">For Cats</option>
            <option value="">Trees & Shelves</option>
            <option value="">Toys</option>
            <option value="">Beds</option>
            <option value="">Costumes</option>
            <option value="">For Humans</option>
            <option value="">Leggins</option>
            <option value="">Mugs</option>
            <option value="">Socks</option>
            <option value="">Phone Cases</option>
            <option value="">T-Shirts</option>
            <option value="">Jewelry</option>
             <option value="">SALE</option>
         </select>
         <a href=""> + Add Collection</a>

        <h3>Product Data:</h3>
        <div class="product-data-container">
            <div class="columns">
                <div class="var-img">Image</div>
                <div class="var-model">Model</div>
                <div class="price">Price</div>
                <div class="old-price">Old Price</div>
                <div class="cost">Cost</div>
                <div class="sku">SKU</div>
                <div class="stock">Stock</div>
            </div> 
            
            <div class="columns">
                <div class="var-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/GERALD_1024x1024.png?v=1578330887" alt="">
                </div>
                <div class="var-model">
                    <input type="text" value="GERALD">
                </div>
                <div class="price">
                    <input type="text" value="24.99">
                </div>
                <div class="old-price">
                    <input type="text" value="30.00">
                </div>
                <div class="cost">
                    <input type="text" value="10.00">
                </div>
                <div class="sku">
                    <input type="text" value="HOLADH">
                </div>
                <div class="stock">
                    <input type="text" value="1539">
                </div>
            </div> 
            <div class="columns">
                <div class="var-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/Bill_1024x1024.png?v=1588428074" alt="">
                </div>
                <div class="var-model">
                    <input type="text" value="BILL">
                </div>
                <div class="price">
                    <input type="text" value="24.99">
                </div>
                <div class="old-price">
                    <input type="text" value="30.00">
                </div>
                <div class="cost">
                    <input type="text" value="10.00">
                </div>
                <div class="sku">
                    <input type="text" value="HOLADH">
                </div>
                <div class="stock">
                    <input type="text" value="1539">
                </div>
            </div> 
            <div class="columns">
                <div class="var-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/Ronald_1024x1024.png?v=1588428074" alt="">
                </div>
                <div class="var-model">
                    <input type="text" value="RONALD">
                </div>
                <div class="price">
                    <input type="text" value="24.99">
                </div>
                <div class="old-price">
                    <input type="text" value="30.00">
                </div>
                <div class="cost">
                    <input type="text" value="10.00">
                </div>
                <div class="sku">
                    <input type="text" value="HOLADH">
                </div>
                <div class="stock">
                    <input type="text" value="1539">
                </div>
            </div> 
            <div class="columns">
                <div class="var-img">
                    <img src="https://cdn.shopify.com/s/files/1/0250/7217/3141/products/GEORGE_1024x1024.png?v=1578365352" alt="">
                </div>
                <div class="var-model">
                    <input type="text" value="GEORGE">
                </div>
                <div class="price">
                    <input type="text" value="24.99">
                </div>
                <div class="old-price">
                    <input type="text" value="30.00">
                </div>
                <div class="cost">
                    <input type="text" value="10.00">
                </div>
                <div class="sku">
                    <input type="text" value="HOLADH">
                </div>
                <div class="stock">
                    <input type="text" value="1539">
                </div>
            </div>
        </div>
        <a href=""> + Add Column</a> 
        
        <button type="submit">SAVE</button>
        </form> 

    </div>
</body>
</html>